<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin/dashboard">MICLAB Reports</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin/dashboard">Dashboard</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inovice
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/admin/newinvoice">Add New Invoice</a>
          <a class="dropdown-item" href="/admin/getinvoice">View Invoice</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Report
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/admin/newreport">Add New Report</a>
          <a class="dropdown-item" href="/admin/getreports">View Reports</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/admin/logout">Logout</a>
      </li>


    </ul>
  </div>
</nav>


